rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
  
    // Helper functions
    function isOwner(userId) {
      return request.auth != null && request.auth.uid == userId;
    }
    
    function isCreate() {
      return request.method == 'create';
    }
    
    function isUpdate() {
      return request.method == 'update';
    }

    match /users/{userId} {
      allow read;
      allow write: if isOwner(userId);

      match /schedules/{scheduleId} {
        allow read, write: if isOwner(userId);
      }
    }
  }
}

    